# Dependencies
**/node_modules

# Build outputs
**/dist
**/coverage
**/*.tsbuildinfo

# VCS
.git
.gitignore

# Environment
.env*

# Data / runtime files
**/data

# Logs
*.log
pnpm-debug.log*

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Misc
TODO.txt

# Test artifacts
.nyc_output

# Docker
docker-compose.yml
docker-compose.*.yml